extends ../_base.pug

block content

	section
		.column.is-full

	section.section.hero.is-fullheight
		.hero-head
			.container
				.column.box.is-radiusless
					.breadcrumb.is-centered
						ul
							li
								span.icon.is-small.has-text-primary
									i.fas.fa-image
								a(href=`/main`) Галерея
							li.is-active
								a Правила публикации
				.column.box.is-radiusless.is-full
					h1.has-text-centered.has-text-grey-white.is-size-5 Привет! Эта страница создана специально для того, чтобы рассказать о правилах публикации фотографий в галерее Voidline Community

