extends _base.pug

block content

	section
		.column.is-full

	section.section.hero
		.hero-head
			.container
				.column#padding.box.is-radiusless
					.breadcrumb.is-centered
						ul
							li
								span.icon.is-small.has-text-primary
									i.fas.fa-user-lock
								a(href=`/admin`) Список заявок
							li
								a(href=`/app/list`) Заявки
							li.is-active
								a Заявка 
	section.hero.is-fullheight
		.hero-head
			.container
				.box.is-radiusless
					.content
						ol(type='1')
							li Возраст: 

							ol(type='1')
						
							li Оценка знаний:

							ol(type='1')
						
							li Пол:

							ol(type='1')
						
							li SteamID:

							ol(type='1')
						
							li 
								a(href='#' target='_blank') Форум

							ol(type='1')

							li Discord:

							ol(type='1')
						
							li Опыт в RP: 

							ol(type='1')
						
							li Вопрос #1: 

							ol(type='1')
						
							li Вопрос #2: 

							ol(type='1')
						
							li Вопрос #3: 

							ol(type='1')
						
							li Вопрос #4: 

							ol(type='1')
						
							li Вопрос #5: 

							ol(type='1')
						
							li Вопрос #6: 
							
							ol(type='1')
								