doctype html

head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    meta(name="description" content="Мы - простые любители ролевой игры, которые занимаются созданием и разработкой тематических серверов.")
    meta(name="theme-color" content="#FBA64B")
    title #{title} @ Voidline
    link(rel='stylesheet' href='/static/css/octo-bulma-v05022018.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
    link(rel='stylesheet' href='https://unpkg.com/flickity@2.2.1/dist/flickity.min.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous")
    link(rel='stylesheet' href='/static/css/bulma-timeline.min.css')
    link(rel='stylesheet' href='https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css')
    link(rel='stylesheet' href='/static/css/bulma-extensions.min.css')
    link(rel='stylesheet' href='/static/css/bulma-checkradio.min.css')
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css")
    link(rel="icon" href="/static/images/favicon.ico")
    script(src="https://www.google.com/recaptcha/api.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.4.1/chart.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bulma-extensions@6.2.7/dist/js/bulma-extensions.min.js")
    script(src='https://unpkg.com/flickity@2.2.1/dist/flickity.pkgd.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js")
    script(src="https://vk.com/js/api/openapi.js?162")
    script(src="https://unpkg.com/bulma-modal-fx/dist/js/modal-fx.min.js")
    script(type='text/javascript').
        !function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?169",t.onload=function(){VK.Retargeting.Init("VK-RTRG-1011009-dhDwt"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
    noscript
        img(src='https://vk.com/rtrg?p=VK-RTRG-1011009-dhDwt' style='position:fixed; left:-999px;' alt='')

//- include base/header.pug
html
    section.section.land-start.hero.is-fullheight.gradiented
        .hero-body
            .container.animate__animated.animate__backInDown
                svg.arrows
                    path.a1(d='M0 0 L30 32 L60 0')
                    path.a2(d='M0 20 L30 52 L60 20')
                    path.a3(d='M0 40 L30 72 L60 40')
                figure.image.is-128x128.has-image-centered
                    img(src='https://i.imgur.com/KW9K6mC.png')
                .field
                    h1.shadow.has-text-centered.title.has-text-white.is-font-nunito.is-size-large.is-size-2-mobile VOIDLINE
                .field
                    h1.shadow.has-text-centered.subtitle.has-text-white.is-size-3 Разбавь свою жизнь яркими красками вместе с нами
    section.section.is-white.hero
        .hero-body
            .container.enter-trigger-fadeIn.animated
                .columns.is-centered.is-variable.is-6.is-multiline
                    .column.is-full
                        h1.title.is-size-1.has-text-centered Кто мы такие?
                    .column.is-full
                    .column
                        .field
                            figure.image.is-64x64.has-image-centered
                                img(src='https://img.icons8.com/glyph-neue/64/000000/cottage.png')
                        .columns.is-centered
                            .column.is-three-quarters.is-centered
                                .field
                                    h1.title.is-size-5.has-text-centered Энтузиасты
                                .field
                                    h1.subtitle.is-size-5.has-text-centered Идём своей дорогой, не испытывая на себе опыт других сообществ. Это позволяет нам работать в свое удовольствие и создавать по истине уникальные вещи
                    .column
                        .field
                            figure.image.is-64x64.has-image-centered
                                img(src='https://img.icons8.com/glyph-neue/50/000000/dice.png')
                        .columns.is-centered
                            .column.is-three-quarters.is-centered
                                .field
                                    h1.title.is-size-5.has-text-centered Ролевики
                                .field
                                    h1.subtitle.is-size-5.has-text-centered Любим настоящее RP, создавая для игры на наших серверах максимально комфортные условия
                    .column
                        .field
                            figure.image.is-64x64.has-image-centered
                                img(src='https://img.icons8.com/glyph-neue/50/000000/handshake-heart.png')
                        .columns.is-centered
                            .column.is-three-quarters.is-centered
                                .field
                                    h1.title.is-size-5.has-text-centered Команда
                                .field
                                    h1.subtitle.is-size-5.has-text-centered Планируем, создаём, достигаем. Ежедневно общаемся с нашими игроками, постоянно выслушиваем их просьбы и предложения, чтобы в дальнейшем улучшить наш проект  

style.

    .land-start {
        height: 100vh;
    }

    .gradiented {
        background: linear-gradient(-45deg, #FFA64B, #FF8886, #FFB495, #F87D71, #FFA64B);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .bg-white {
        background: #eee;
    }

    h1.shadow {
        text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.1);
    }

    .is-text-gradient {
        background: linear-gradient(-45deg, #FFA64B, #F87D71);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .arrows {
        width: 60px;
        height: 72px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        bottom: -200px;
    }

    .arrows path {
        stroke: #ffffff;
        fill: transparent;
        stroke-width: 1px;	
        animation: arrow 2s infinite;
        -webkit-animation: arrow 2s infinite; 
    }

    @keyframes arrow
    {
        0% {opacity:0}
        40% {opacity:1}
        80% {opacity:0}
        100% {opacity:0}
    }

    @-webkit-keyframes arrow /*Safari and Chrome*/
    {
        0% {opacity:0}
        40% {opacity:1}
        80% {opacity:0}
        100% {opacity:0}
    }

    .arrows path.a1 {
        animation-delay:-1s;
        -webkit-animation-delay:-1s; /* Safari 和 Chrome */
    }

    .arrows path.a2 {
        animation-delay:-0.5s;
        -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
    }

    .arrows path.a3 {	
        animation-delay:0s;
        -webkit-animation-delay:0s; /* Safari 和 Chrome */
    }

script.
    $(function() {
        $("body").animate({ opacity: "1.0" })
    })

    VK.Widgets.CommunityMessages("vk_community_messages", 187821968)