extends _base.pug

block content
    head
        meta(http-equiv='refresh' content='0.01; url = https://discord.gg/sN5cSmCZBP') 
    section.section.hero.is-fullheight
        .hero-body
            .container
                .columns.is-centered
                    .column.is-half
                        .field
                            p.is-size-1.has-text-centered.has-text-grey-lighter Перенаправляем тебя в Discord...