#modal-request.modal
	.modal-background(onclick="document.getElementById('modal-request').classList.remove('is-active')")
	.modal-card
		header.modal-card-head
			p#modal-text.modal-card-title Приём заявок
			button.delete(onclick="document.getElementById('modal-request').classList.remove('is-active')")
		section#land-request.modal-card-body
			article.message.is-white
				.message-body
					p#modal-msg Приём заявок открыт!
			form(action="/application" method="post")
				h1#req-title Форма подачи заявки
				p#modal-text Твой возраст
				input.input(type="number" maxlength="2" name="age" required="")
				p#modal-help.help Пожалуйста, указывай свой настоящий возраст
				p#modal-text Имел(а) ли ты опыт в ролевой игре?
				.field
					.control
						.select
							select(name="roleplay")
								option Да
								option Нет
				p#modal-text Твой пол
				.field
					.control
						.select
							select(name="gender")
								option Мужской
								option Женский
				p#modal-text На сколько баллов ты оцениваешь свои знания ролевой игры?
				.field
					.control
						.select
							select(name="options")
								option 1
								option 2
								option 3
								option 4
								option 5
								option 6
								option 7
								option 8
								option 9
								option 10
				p#modal-text Сколько времени ты планируешь уделять вайтлист-серверу?
				.field
					.control
						.select
							select(name="time")
								option Менее 7 часов в неделю
								option 7-14 часов в неделю
								option 14-20 часов в неделю
								option Более 20 часов в неделю
				p#modal-text Твой SteamID
				input.input(maxlength="30" type="text" name="steamid" required="")
				p#modal-help.help SteamID в формате "STEAM_0:0:00000000"
				a.button.is-small(href="https://forum.octothorp.team/topic/8546/%D0%BA%D0%B0%D0%BA-%D1%83%D0%B7%D0%BD%D0%B0%D1%82%D1%8C-%D1%81%D0%B2%D0%BE%D0%B9-steamid" target="_blank")
					p.text-modal Как узнать свой SteamID
				p#modal-text Ссылка на твой профиль форума Octothorp Team
				input.input(type="text" name="forum-profile" required="")
				a.button.is-small(href="https://forum.octothorp.team/login" target="_blank")
					p.text-modal Регистрация профиля
				p#modal-text Твой Discord
				input.input(maxlength="32" type="text" name="discord-tag" required="")
				p#modal-help.help Discord-ник в формате "Nickname#0000"
				a.button.is-small(href="https://discordapp.com/login" target="_blank")
					p.text-modal Регистрация Discord
				p#modal-text
					| Почему ты хочешь играть именно на ролевом проекте с белым списком участников? (Закрытом ролевом проекте с доступом по вайтлисту)
				textarea.textarea(type="text" name="question-1" required="")
				p#modal-text
					| Если ты имел(а) опыт в ролевой игре, то в каких играх и/или на каких проектах ты играл(а)?
				textarea.textarea(type="text" name="question-2")
				p#modal-help.help *Необязательный вопрос
				p#modal-text Развернутно расскажи о себе
				textarea.textarea(type="text" name="question-3" required="")
				p#modal-help.help Расскажи как можно больше о себе. Заявка конфедициальна
				p#modal-text Какой вклад ты бы мог(ла) внести в наше сообщество?
				textarea.textarea(type="text" name="question-4" required="")
				p#modal-text Опиши, что для тебя означает понятие "Ролевая игра"
				textarea.textarea(type="text" name="question-5" required="")
				p#modal-text Подробно распиши, как ты понимаешь п.8 правил основных положений сообщества?
				textarea.textarea(type="text" name="question-6" required="")
				p#modal-text
					| Соглашение с правилами сообщества ролевого проекта Платтсбург и с 
					a(href="https://wiki.octothorp.team/index.php?title=%D0%9F%D0%BB%D0%B0%D1%82%D1%82%D1%81%D0%B1%D1%83%D1%80%D0%B3:%D0%9B%D0%BE%D1%80_%D0%B8_%D1%81%D0%B5%D1%82%D1%82%D0%B8%D0%BD%D0%B3" target="_blank") лором, сеттингом города
				p#modal-msg.checkbox(name="succ")
					input(type="checkbox" name='cbox' required="")
					label(for="cbox")    Ознакомлен(а)
				.field.is-grouped
					.control
						button.button.is-success(type="submit")
							p.text-modal Отправить заявку
