.footer.has-text-centered
	.field
		.control
		h1.subtitle.is-size-7-tablet.is-size-7-mobile.has-text-grey-light.has-text-centered Информация, используемая и публикуемая на сайте сообщества, не имеет отношения к реальной жизни. Всё использовано исключительно в игровой реальности.
		a(href='https://bulma.io/' target='_blank')
			img.has-image-centered(alt="Made with Bulma" width="128" height="24" src='https://bulma.io/images/made-with-bulma--white.png')