extends ../_base.pug

block content

	section
		.column.is-full

	section.section.hero.is-fullheight
		.hero-head
			.container
				.column#padding.box.is-radiusless
					.breadcrumb.is-centered
						ul
							li
								span.icon.is-small.has-text-primary
									i.fas.fa-home
								a(href=`/main`) Главная 
							li.is-active
								a(href=`/main`) Правила сообщества
				.column.box.is-radiusless
					.field
						h1.title.has-text-grey-lighter.is-size-4 Условия и положения для подачи заявки
					.field
						ol(type="1")
							li
								| Вы должны быть зарегистрированы на форуме
								a(href="https://forum.octothorp.team/")  Octothorp Team
							li Вы должны иметь лицензионную копию игры Garry’s Mod.
							li Вам должно быть не менее 12 лет на момент подачи заявки.
							li О принятии/отказе вам сообщат в личные сообщения форума.
							li
								| В случае отказа заявку можно отправить повторно не ранее двух недель с момента вынесения вердикта.
							li
								| Если ваша заявка одобрена, вы будете приглашены на закрытый Discord-сервер для проведения опроса.
							li Информация об открытии периода приёма заявок публикуется в группе ВКонтакте
					.field
						h1.title.has-text-grey-lighter.is-size-4 Основные положения сообщества
					.field
						ol(type="1")
							li
								| Свод правил и основные положения сервера распостраняюстся на дискорд и Garry’s Mod сервер Платтсбурга. Находясь в вайтлисте игрового сервера и являясь участником сообщества вы автоматически соглашаетесь с правилами приведенными ниже.
								| Запрещено нарушать установленный свод правил на проекте. За это вы можете получить выговор. Схема выговоров - [0/3]
							li
								| Запрещено отказываться от любой roleplay ситуации, в ярости выходить с сервера и оскорблять участников ситуации вне зависимости от её исхода (отрицательного или положительного), кроме тех случаев когда она выходит за рамки* или вам
								| нужно срочно выйти с сервера.
							li
								| Вы обязаны отыгрывать любую ролевую ситуацию до конца. По ее окончанию, вы вправе подать жалобу на игрока, но доиграть ситуацию вы обязаны в любом случае.
							li
								| Запрещены оскорбления, злоупотребление матом и обидный интернет-троллинг в любом его проявлении в не ролевом чате.
							li
								| Все участники вайтлиста обязаны быть толерантными по отношению к другим игрокам всего сообщества Octothorp Team и уважать их.
							li
								| Запрещено использоваться ООС-чат сервера не по назначению, писать в него необходимо только по причине и не отвлекать других игроков от ролевого процесса
							li Запрещен MetaGaming в голосовых сервисах Garry’s Mod сервера.
							li
								| Выбрав одну роль (напр.Полицейский Департамент), игрок не может отыгрывать другие роли без разрешения игрового куратора
							li Запрещено отыгрывать нереалистичные действия своим персонажем
							li
								| Нарушив правило из данного свода, вы можете быть: исключены с вайтлиста/получить выговор/получить предупреждение/получить временную блокировку на сервере
							li
								| Запрещено распостранение информации которая находится в закрытом доступе (на игровом сервере, в специальных каналах дискорда и выданная лично).
					.field
						h1.title.has-text-grey-lighter.is-size-4 Терминология к игровым правилам
					.field
						ol(type="1")
							li
								| Character Kill (CK) — убийство внутриигрового персонажа в виртуальном мире, при котором навсегда запрещается дальнейшее его использование в ролевых ситуациях. Не стоит путать с убийством по технической части, ведь игрок может умереть,
								| а сам персонаж - нет.
							li
								| MetaGaming (MG) — использование неролевой информации в ролевом процессе.
							li
								| OOC Abuse (OOCa) — использование ООС чата не по назначению/спам в ООС или LOOC чаты.
							li In character (IC) — информация из ролевого процесса.
							li
								| Out of character (OOC) — информация не касающаяся ролевого процесса и персонажа.
							li Free Damage (FD) — нанесение урона без причины.
							li Free Kill (FK) — убийство без причины.
							li New Life Rule (NLR) — правило новой жизни.
							li
								| NonRP (NRP) — нелогичное, не ролевое поведение, к нем так же приравнивается выход во время важных ситуаций для получения выгоды. Также совершение действий, не подкреплённых мотивом и создающих неудобства окружающим, является помехой
								| ролевому процессу.
							li
								| Prop Block (PВ) — без обходное загораживание пропами.
							li
								| Kill Room (KR) – пристройка ко входу с мелкими зазорами. Преграда должна выглядеть правдоподобно, с одинаковой прозрачностью обеих сторон и не давать колоссального преимущества обороняющимся.
					.field
						h1.title.has-text-grey-lighter.is-size-4(<h1="") Игровые правила
					.field
						ol
							li
								| Ответное нарушение означает, что нарушения других игроков не дают права нарушать в ответ, и Вы понесёте такое-же наказание, как и игрок, первый нарушивший правила.
							li
								| Технические действия (механ) Действия предусмотренные игровым движком и при этом противоречащие ролевой игре, нужно избегать или отыгрывать должным образом, через текстовый или голосовой чат.
							li
								| Имя персонажа должно быть похожее на существующее, которое можно было бы записать в документы. Разрешено использовать неполные имена, при этом лучше избегать других форм.
							li
								| Описание внешности В этом пункте меню персонажа описываются видимые черты его внешности: национальность, рост, телосложение, одежда и прочее. Там не должно быть названия профессии, отрывков биографии и всякой неролевой информации.
							li
								| Тюнинг автомобилей Любые модификации автомобиля должны выглядеть реалистично. Колеса не могут быть расположены далеко от кузова (не должны висеть в воздухе), а также проходить сквозь корпус автомобиля при легкой нагрузке. Автомобиль
								| должен быть поднят над землей хотя бы на несколько сантиметров.
							li
								| Места, где лежит то, что можно украсть, нельзя без обходно заслонять пропами, oбязательно должна стоять исчезающая дверь (fading door) и кнопка или кейпад к ней на видном месте.
							li
								| Пропы не должны торчать сквозь стены на улицу или в другие помещения.
							li
								| Реклама нелегальной деятельности разрешена только с использованием 3D2D или Wire текста (инструменты), их нужно располагать в неприметных местах, закоулках города.
							li
								| Если приобретенное помещение больше не нужно или оно не используется, рекомендуется продать его, предварительно убрав оттуда все пропы.
							li
								| Символика, которая может задеть или оскорбить игрока (не персонажа), должна быть небольших размеров, ее следует ставить в малолюдных местах, на заднем дворе или внутри помещения.
							li
								| Запрещено отыгрывать нелогичные криминальные роли из-за обычного желания затеять перестрелку, завязать драку и ограбить кого-либо. Криминальная отыгровка должна сопровождаться продуманной историей исходя из характера вашего персонажа.
							li
								| Запрещено создавать массовые криминальные ситуации, когда в онлайне менее двух офицеров полиции.
					.field
						h1.title.has-text-grey-lighter.is-size-4(<h1="") Правила Discord
					.field
						ol
							li Запрещено злоупотребление матом в чатах
							li Оскорбление участников сообщества/иных личностей строго запрещено
							li
								| В чатах приветствуется дружественная атмосфера. Буллинг, угнетение чего либо строго запрещено
							li NSFW контент запрещен
							li
								| Общение, которое может показаться неуместно шутливым, содержит неуместные шутки или просто может быть неприятно для окружающих - запрещено.
							li Не нужно писать много однотипных сообщений, гораздо лучше вместить всё в одно
							li
								| Не приветствуется злоупотребление эмодзи/набором символов и других бессмысленных сообщений
							li
								| Обидные мемы, картинки которые могут быть противны для сообщества и прочие прелести интернета в чатах отправлять строго запрещено
							li
								| Запрещено уведомлять кураторов, а также @+Сообщество через @ без весомой на то причины, на это есть администраторы (@ Администрация)
							li
								| Нарушение правил Discord сервера карается мутом/баном/удалением с вайтлиста. Все зависит от тяжести нарушения. Будьте осторожны при общении и уважайте друг друга

	style.
		ol {
			padding-left: 2em;
			color: hsl(0, 0%, 71%);
		}

		h1 {
			padding-left: 0.3em;
		}